<a href="https://colab.research.google.com/github/HYEEYH/my_study/blob/main/20230501.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

연습1) 얕은복사 깊은복사 연습

In [ ]:
a = [5,4,3,2,1,]
b = a[:]
print(id(a),id(b))

140709455937216 140709106867264

In [ ]:
b

[5, 4, 3, 2, 1]

In [ ]:
a.sort()
print(a)

[1, 2, 3, 4, 5]

In [ ]:
print(b)

[5, 4, 3, 2, 1]

# 참고
1. 튜플 만들떄 a = (3, )
처럼 빈 공간을 만드는 것을 가변공간이라고 해서 혹시 몰라 공간 남겨두는것.


2. set연산자 주의사항
- 3 and 4 : 4 가 나옴(둘 중 큰 수 나옴)
3(=0011) and 4(=0100): 논리연산자가 아님. -> 비트연산자 이기 때문에
- or 도 마찬가지(둘 중 작은 수 나옴

In [ ]:
a = 10
b = 10
a==b

True

In [ ]:
a = 300
b = 300
a == b

True

In [ ]:
5 and 7

7

In [ ]:
7 or 12

7

문1) b로 a를 나눈 나머지가 3 초과면 실패, 3이면 무승부, 3 미만이면 성공이 출력되도록 만들어보기

In [ ]:
from binascii import b2a_base64
a = 34
b = 4
r = a%b

if r >3:
  print("실패")
elif r == 3:
  print("무승부")
else:
  print("성공")

문2) 태어난 연도를 계산하여 학교 종류를 맞추는 프로그램
당신이 태어난 연도를 입력하세요
2000
학생이 아닙니다
- 나이는 현재년도- 태어난년도+1
- 26세이하 20세이상이면 대학생
- 20세미만 17세 이상이면 고등학생
- 17세 미만 14세 이상이면 중학생
- 14세 미만 8세 이상이면 초등학생
- 그 외의 경우 학생이 아닙니다 출력

In [ ]:
bir = int(input("태어난 연도를 입력해주세요: "))
age = 2023 - bir + 1
message = ""

if 20 <= age <= 26:
  message = "대학생"
elif 17<= age <20 :
  message = "고등학생"
elif 14<= age <17:
  message = "중학생"
elif 8 <= age < 14:
  message = "초등학생"
else:
  print("학생이 아닙니다")
print(message)

태어난 연도를 입력해주세요: 2000
대학생

문3) 양의 정수 하나를 입력받아 이 정수가 2의배수인지 3의배수인지 알아보기

In [ ]:
num = int(input("숫자를 입력하세요: "))

if num %2 == 0:
  if num %3 == 0:
    print("2와 3으로 나누어집니다")
  else:
    print("2로 나누어집니다")
elif num %3 == 0:
  print("3으로 나누어집니다")
else:
  print("어느것으로도 나누어지지 않습니다.")

숫자를 입력하세요: 27
3으로 나누어집니다

문4) 5부터 0까지 카운트다운 해보기(for문)

In [ ]:

for count in range(5, -1, -1):
  print(count)

문5) 1부터 10까지 합을 구하시고 (range함수 이용)

In [ ]:
sum = 0
for i in range(1,11):
    sum = sum+1
print(sum)

문6) 별 찍기 연습
- 1 계단형
- 2-1 삼각형 - 왼쪽 아래가 직각인
- 2-2 삼각형 - 오른쪽 아래가 직각인
- 3-1 역삼각형 - 왼쪽 위가 직각인
- 3-2 역삼각형 - 오른쪽 위가 직각인
- 4 피라미드

In [ ]:
# print("1. 계단형")
# n = int(input("숫자를 입력하세요:"))

# for i in range(n):
#   for j in range(n):
#     print("*", )

In [ ]:
print("1. 계단형- 해설")

n = int(input("숫자입력:"))

for i in range(n):
  print(""*i, end = "")   # end 역할 : sep와 비슷한 기능(구분자 사용)
  print("*"*n)

In [ ]:
print("2-1 삼각형 - 왼 아래 직각")

n = int(input("숫자를 입력하세요:"))

for i in range (1, n+1):
  print("*"*i)

2-1 삼각형 - 왼 아래 직각
숫자를 입력하세요:4
*
**
***
****

In [ ]:
print("2-2 삼각형 - 왼 아래 직각")

n = int(input("숫자를 입력하세요:"))

for i in range (1, n+1):
  print(" "*(n-i), end="")
  print("*"*i)

2-2 삼각형 - 왼 아래 직각
숫자를 입력하세요:4
   *
  **
 ***
****

In [ ]:
print("3-1 역삼각형 - 왼 아래 직각")

n = int(input("숫자를 입력하세요:"))

for i in range(n):
  print("*"*(n-i))

3-1 역삼각형 - 왼 아래 직각
숫자를 입력하세요:4
****
***
**
*

In [ ]:
print("3-2 삼각형 - 오른 아래 직각")

n = int(input("숫자를 입력하세요:"))

for i in range(n):
  print(" "*i, end="")
  print("*"*(n-i))

3-2 삼각형 - 오른 아래 직각
숫자를 입력하세요:4
****
 ***
  **
   *

In [ ]:
print("피라미드")

n = int(input("숫자를 입력하세요:"))

for i in range(n+1):
  print(" "*(n-i), end="")
  print("*"*(2*i-1))

피라미드
숫자를 입력하세요:4

   *
  ***
 *****
*******

- 문제 6) x = [3,6,9,20,-7,5]의 값의 모든 요소에 10을 곱한뒤 출력하기
- 문제 6-1) 심화) 출력과 리스트x의 값에도 모두 10을 곱하기
- 문제 7) y = {"math":70, "science":80, "english":20}의 값의 모든 요소에 10을 더한 뒤 출력하세요
- 문제 7-1) 심화) 출력과 딕셔너리 y의 값에도 모두 10을 더해주세요
- 문제 8) 숫자를 입력받고 입력받은 정수의 구구단을 출력하기

In [ ]:
# p.190 연습문제3
#(1)
# 문제6.
x = x = [3,6,9,20,-7,5]
for i in x:
  print(i*10)

30
60
90
200
-70
50

In [ ]:
# (1)의 심화
# 문제6-1

for i in range(0,len(x)):
  x[i] = x[i]*10
print(x)

[30, 60, 90, 200, -70, 50]

In [ ]:
# p.190 연습문제3
#(2)
# 문제7
y = {"math":70, "science":80, "english":20}

for key in y:
  val = y[key]
  y[key] = y[key]+10
  print("%s : %d" %(key,val+10))

math : 80
science : 90
english : 30

p. 191)  연습문제 4
1~100 임의의 숫자를 맞추기

In [ ]:
import random

true_value = random.randint(1,100)
input_value = 99999  #(임의의 값 할당)

n = int(input("숫자를 맞춰보세요(1~100):"))

while true_value != input_value:
    input_value = int(input())
    if input_value > true_value: # 사용자의 입력값이 true_value보다 클때
        print("숫자가 큽니다")
    else:
        print("숫자가 작습니다") # 사용자의 입력값이 true_value보다 작을떄
print(f"정답입니다. 입력한 숫자는 {true_value}입니다")

숫자를 맞춰보세요(1~100):50
50
숫자가 큽니다
40
숫자가 큽니다
70
숫자가 큽니다
20
숫자가 큽니다
10
숫자가 작습니다
정답입니다. 입력한 숫자는 10입니다

p. 192) word = ["school", "game", "piano", "science", "hotel", "mountain"] 중 글자수가 6글자 이상인 문자를 모아 새로운 리스트를 생성하기

In [ ]:
# for를 써서 글자수 6개 이상인걸 걸러내기

word = ["school", "game", "piano", "science", "hotel", "mountain"] 
a = list()

for i in range(len(word)):
  if len(word[i]) >= 6:
    a.append(word[i])
print(a)

- 문제 11) 1 - 100 까지의 숫자 중
- 3과 5의 공배수일경우 "3과 5의 공배수"
-  나머지 숫자 중 3의배수일 경우 "3의 배수"
-  나머지 숫자 중 5의 배수일 경우" 5의배수"
- 모두 해당되지 않을 경우 그냥 숫자를 출력하기.

In [ ]:
b = int(input("정수를 입력하세요"))
if b<=0:
  print("음수는 정의하지 않음")
else:
  for a in range(1, b+1):
    if a % 3 == 0 and a % 5 == 0:
      print("3과 5의 공배수")
    elif a%3 ==0:
      print("3의 배수")
    elif a%5 == 0:
      print("5의 배수")
    elif 1 <= a <= 100:
      print(a)
    else:
      print("1과 100 사이의 숫자가 아닙니다")

정수를 입력하세요15
1
2
3의 배수
4
5의 배수
3의 배수
7
8
3의 배수
5의 배수
11
3의 배수
13
14
3과 5의 공배수

p.194
- 문제 12) 사용자로부터 숫자를 계속 입력받다가 s or S를 입력하면 합계출력

In [ ]:
c = 0
d = 1

while (d==1):
    a = input()
    if (a=="s" or a == "S"):
        d=0
    else:
        a = int(a)
        c +=a
print(c)

11
35
67
34
s
147

p.
- 문제 13) 사람 별 평균을 구하기
- kor_score = [39,69,20,100,80]
- math_score = [32,59,85,30,90]
- eng_score = [49,70,48,60,100]
- midterm_score = [kor_score, math_score, eng_score]

In [ ]:
kor_score = [39,69,20,100,80]
math_score = [32,59,85,30,90]
eng_score = [49,70,48,60,100]
midterm_score = [kor_score, math_score, eng_score]


student_score = [0,0,0,0,0]
i = 0
for subject in midterm_score:  # 과목 선택
    for score in subject:    # 과목선택 후
        student_score[i] += score  # 각 학생마다 개별로 교과 점수를 저장
        # print(subject,score,'i:,i,student_score)   # kor->math->eng 
        i+=1   # 학생 index구분
    i=0
else:
    a,b,c,d,e = student_score  #학생별 점수를 unpacking
    student_average = [a/3, b/3, c/3, d/3, e/3]
    print(student_average)

##### 포멧팅

In [ ]:
# print({:.20f},format(1/3)) --> 20번째자리까지 계산하라는 의미.
# 보통 컴퓨터는 16번째 자리까지 계산하기때문에 16자리 이후로는 오류가 남.