winemag-data.csv 파일을 reviews 로 읽는다.

In [102]:
import pandas as pd

In [103]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [104]:
import pandas as pd
reviews = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/yh-k4-main-수정용/data/winemag-data.csv', index_col = 0 )

reviews

reviews.head(3)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm

리뷰 데이터프레임에서 points 컬럼의  median 값은?

In [8]:
#### 나의 풀이

In [9]:
#### 해설

# 
reviews['points'].median()

88.0

나라를 중복되지 않도록 가져와서 countries 변수에 저장하고, 화면에 출력하시오.

In [10]:
#### 나의 풀이

In [105]:
#### 해설

# # 1. 필요한 데이터에 접근
# reviews['country']

# # 2. 중복제거
# reviews['country'].unique()

# 3. 변수에 저장 및 출력
countries =  reviews['country'].unique()
countries

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', nan, 'Turkey', 'Czech Republic', 'Slovenia',
       'Luxembourg', 'Croatia', 'Georgia', 'Uruguay', 'England',
       'Lebanon', 'Serbia', 'Brazil', 'Moldova', 'Morocco', 'Peru',
       'India', 'Bulgaria', 'Cyprus', 'Armenia', 'Switzerland',
       'Bosnia and Herzegovina', 'Ukraine', 'Slovakia', 'Macedonia',
       'China', 'Egypt'], dtype=object)

각 국가별로는 몇개의 리뷰가 있는지, 각국가별 리뷰수를 구하시오.

In [12]:
#### 나의 풀이

In [106]:
#### 해설

# # 1. 첫번째
# # 1) 국가별로 묶어라 - groupby
# reviews.groupby('country')
# # 2) 국가별로 묶어서 컨트리만 가져와서
# reviews.groupby('country')['country']
# # 3) 갯수 세기
reviews.groupby('country')['country'].count()

country
Argentina                  3800
Armenia                       2
Australia                  2329
Austria                    3345
Bosnia and Herzegovina        2
Brazil                       52
Bulgaria                    141
Canada                      257
Chile                      4472
China                         1
Croatia                      73
Cyprus                       11
Czech Republic               12
Egypt                         1
England                      74
France                    22093
Georgia                      86
Germany                    2165
Greece                      466
Hungary                     146
India                         9
Israel                      505
Italy                     19540
Lebanon                      35
Luxembourg                    6
Macedonia                    12
Mexico                       70
Moldova                      59
Morocco                      28
New Zealand                1419
Peru                         16
Portugal                   5691
Romania                     120
Serbia                       12
Slovakia                      1
Slovenia                     87
South Africa               1401
Spain                      6645
Switzerland                   7
Turkey                       90
US                        54504
Ukraine                      14
Uruguay                     109
Name: country, dtype: int64

In [14]:
# 4) 정렬하기
# 판다스 시리즈임

reviews.groupby('country')['country'].count().sort_values()  # 오름차순
# reviews.groupby('country')['country'].count().sort_values(ascending = False) # 내림차순

country
China                         1
Slovakia                      1
Egypt                         1
Armenia                       2
Bosnia and Herzegovina        2
Luxembourg                    6
Switzerland                   7
India                         9
Cyprus                       11
Czech Republic               12
Serbia                       12
Macedonia                    12
Ukraine                      14
Peru                         16
Morocco                      28
Lebanon                      35
Brazil                       52
Moldova                      59
Mexico                       70
Croatia                      73
England                      74
Georgia                      86
Slovenia                     87
Turkey                       90
Uruguay                     109
Romania                     120
Bulgaria                    141
Hungary                     146
Canada                      257
Greece                      466
Israel                      505
South Africa               1401
New Zealand                1419
Germany                    2165
Australia                  2329
Austria                    3345
Argentina                  3800
Chile                      4472
Portugal                   5691
Spain                      6645
Italy                     19540
France                    22093
US                        54504
Name: country, dtype: int64

In [ ]:
#### 해설

# 2. 두번째 
reviews['country'].value_counts()  # .value_counts() 의 () 안에 ascending = False 넣으면 내림차순

리뷰 데이터프레임의 price 컬럼 값에서, price의 평균값을 뺀 값을, centered_price 라고 저장하시오.

In [16]:
#### 나의 풀이

In [107]:
#### 해설

# 1. 데이터 정보 확인하기
reviews.head(3)

# 2. 프라이스의 평균값 구하기 ( nan 이 있어도 평균 구해줌,)
reviews.describe()  # 정보확인 

reviews['price'].mean()

# 3. 모든 행의 프라이스 - 프라이스 평균 해서 새 변수 만들어서 저장하기
centered_price = reviews['price'] - reviews['price'].mean()
centered_price

0               NaN
1        -20.363389
2        -21.363389
3        -22.363389
4         29.636611
            ...
129966    -7.363389
129967    39.636611
129968    -5.363389
129969    -3.363389
129970   -14.363389
Name: price, Length: 129971, dtype: float64

나는 경제적이므로, 가격대비 포인트가 가장 큰 와인을 사려한다. 해당 와인의 title은?

In [ ]:
#### 나의 풀이


# 가격 대비 포인트가 큰 와인.
# 정렬하기  1 포인트 높은 것 중 2 가격이 낮은것

# reviews['points'].sort_values(ascending = False).head(10)
# reviews['price'].sort_values

In [109]:
#### 해설


# 1. 포인트가 높은 와인
# reviews.head(2)  # 가격대비 포인트라는 컬럼을 찾아보기 있으면 이거 정렬하면 됨.

# 2. 가격대비 포인트 컬럼이 없으므로 컬럼을 만들기 --->>> 데이터 가공
# 사칙연산 통해 가격대비 포인트를 구해보기 ( 퍼센트 만들기 )
# 포인트를 가격으로 나누기  포인트/프라이스
reviews['points'] / reviews['price']

0              NaN
1         5.800000
2         6.214286
3         6.692308
4         1.338462
            ...
129966    3.214286
129967    1.200000
129968    3.000000
129969    2.812500
129970    4.285714
Length: 129971, dtype: float64

In [ ]:
# 3. 새로운 컬럼 만들어서 데이터 집어넣기
reviews['gasungbi'] = reviews['points'] / reviews['price']
reviews

In [ ]:
# 4. 가성비 컬럼을 내림차순으로 정렬하기
reviews.sort_values('gasungbi', ascending = False)

In [ ]:
# reviews.sort_values(by = ['gasungbi', 'price'], ascending = False).head(10)
reviews.sort_values('gasungbi', ascending=False)

사람들이 어떤와인을 더 많이 거론했는지 보려한다.

"tropical" 이 들어있는 리뷰의 갯수를 세고, "fruity" 라고 들어있는 리뷰의 갯수를 세어서

판다스 시리즈로 descriptor_counts 변수로 만들어 보자.

In [21]:

# 깃허브의 데이터분석 항목 참고
# 또는 
# 데이터프레임의 apply 함수도 고려

In [ ]:
#### 나의 풀이

# 데이터 정보 또는 컬럼 확인
reviews.head(2)

In [47]:
#### 나의 풀이

# # 트로피컬 몇개 있는지 세고
# # 프루티 얼마있는지 세고


# # 트로피컬 세기

# # reviews['description'].str.contains('tropical')                           # 리뷰 문장에 트로피컬이 들어가는 행 찾기
# # reviews['description'][reviews['description'].str.contains('tropical')]   # True만 나오는 행 찾기
# reviews['description'][reviews['description'].str.contains('tropical')].count()  # True만 나오는거 카운트 (멜티인덱스)

3607

In [24]:
#### 나의 풀이

# # 프루티 세기

# reviews['description'][reviews['description'].str.contains('fruity')].count()

9090

In [113]:
#### 해설

## 첫번째 방법

# 1. reviews 정보 확인
# reviews
# 2. reviews['description'] 확인 -> 나오는 결과 : 이거 시리즈임
reviews['description']

# 3. str.contains() 코드 사용
# Series.str.contains(pat, case=True, flags=0, na=None, regex=True) 에서
# (pat, case=True, flags=0, na=None, regex=True) 부분은 디폴트 파라미터 
# 각각의 pat, case, 들은 파라미터 라고 함.

# 4. 트로피컬 있는지 확인
# 5 트로피컬이 True 가 나온 행 확인하기
# reviews['description'].str.contains('tropical')

0         Aromas include tropical fruit, broom, brimston...
1         This is ripe and fruity, a wine that is smooth...
2         Tart and snappy, the flavors of lime flesh and...
3         Pineapple rind, lemon pith and orange blossom ...
4         Much like the regular bottling from 2012, this...
                                ...
129966    Notes of honeysuckle and cantaloupe sweeten th...
129967    Citation is given as much as a decade of bottl...
129968    Well-drained gravel soil gives this wine its c...
129969    A dry style of Pinot Gris, this is crisp with ...
129970    Big, rich and off-dry, this is powered by inte...
Name: description, Length: 129971, dtype: object

In [114]:
# True = 1, False = 0으로 컴이 인식하는 것을 이용. sum() 함수 이용해서 세기
reviews['description'].str.contains('tropical').sum()

3607

In [ ]:
reviews['description']

In [49]:
reviews['description'].str.contains('tropical')

0          True
1         False
2         False
3         False
4         False
          ...
129966    False
129967    False
129968    False
129969    False
129970    False
Name: description, Length: 129971, dtype: bool

In [ ]:
# reviews['description'].str.contains('tropical').count()

In [115]:
reviews['description'].str.contains('tropical').sum()

3607

In [116]:
#### 해설


# 6. 프루티 세기
reviews['description'].str.contains('fruity').sum()

9090

In [117]:
#### 해설

## 두 번째 방법 

## 어플라이(apply) 함수 사용

# 1. reviews['description'].apply( 함수명 )   # ()안에 (= 파라미터에) 뭘 써야 할까? -> 함수이름 써야함
# 어플라이 함수 쓸때는 함수를 하나 만든 다음에 써야하므로 위에 함수 코드가 있어야함.
def is_tropical(sentence) :
  if 'tropical' in sentence :
    return True
  else :
    return False

In [118]:
reviews['description'].apply( is_tropical ).sum()

3607

In [119]:
#### 해설

## 두 번째 방법 


def is_fruity(sentence) :
  if 'fruity' in sentence :
    return True
  else :
    return False

In [120]:
reviews['description'].apply(is_fruity).sum()

9090

별점 시스템을 만들려고 한다. 따라서 별점에 대한 데이터가 필요하다.

별점은 1,2,3 즉 3개로 만들것이다.

포인트가 95점 이상이면 3점, 85점 이상이면 2점, 나머지는 1점으로 할 것이다. 

리뷰데이터를 통해 각 데이터의 별점을 구하시오.

In [ ]:
#### 나의 풀이

# 함수를 만들어놓고
# 새 칼럼에 집어넣어서
# 각 데이터 별점을 구하면 되지 않을까?
# reviews['points'] >= 95  == 3
# 95 > reviews['points'] >= 85  == 2
# 85 > reviews['points']   == 1

# reviews2 = reviews.copy()

# def starpoint(n):
#   if reviews2['points'] >= 95:
#     return 3
#   elif 95 > reviews2['points'] >= 85:
#     return 2
#   else :
#     return 1

# reviews2['starpoint'] = reviews2['points'].apply(starpoint)

# reviews2.head()


#### 오류남. ㅎ

In [121]:
#### 해설

# ------------------- 문제 ----------------------------------------------------
# 별점 시스템을 만들려고 한다. 따라서 별점에 대한 데이터가 필요하다.
# 별점은 1,2,3 즉 3개로 만들것이다.
# 포인트가 95점 이상이면 3점, 85점 이상이면 2점, 나머지는 1점으로 할 것이다. 
# 리뷰데이터를 통해 각 데이터의 별점을 구하시오.
# -----------------------------------------------------------------------------


# 1. 별점에 대한 정보를 만들어서 데이터에 집어넣어야 함.
# 2. 포인트 정보 가져오기
reviews['points']
# 3. 별점을 적용시킬 수 있는 함수 만들기
def get_star(point):
  if point >= 95 :
    return 3
  elif point >= 85 :
    return 2
  else :
    return 1

In [ ]:
# 4. apply 함수 사용해서 만든 함수 자동으로 사용하게 하기
# reviews['points'].apply(get_star)

In [122]:
# 5. 만들어진 데이터를 원본 데이터에 새 컬럼을 만들어서 집어넣기
reviews['star'] = reviews['points'].apply(get_star)

In [123]:
reviews

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,gasungbi,star
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,NaN,2
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,5.800000,2
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,6.214286,2
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,6.692308,2
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,1.338462,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef),3.214286,2
129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation,1.200000,2
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser,3.000000,2
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss,2.812500,2
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit,4.285714,2

리뷰의 region_2 컬럼에 데이터가 비어있는 경우에는, 'Unknown'으로 셋팅하자.

In [ ]:
#### 나의 풀이

# 데이터 정보 확인하고
# 리전2 컬럼에 데이터가 비어있는거 'Unknown' 으로 바꿔주기

# reviews.head(2)


# reviews2 = reviews.copy()

# reviews2['region_2'] = reviews2['region_2'].str.replace('NaN', 'Unknown', regex = False)
# reviews2


#### 안되네....??

In [124]:
#### 해설


# 1. 데이터 정보 확인하기
# reviews['region_2']
# # 2.  fillna 를 사용
# reviews['region_2'].fillna('Unknown')
# # 데이터 바꿔주기
reviews['region_2'] = reviews['region_2'].fillna('Unknown')

In [125]:
reviews

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,gasungbi,star
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,Unknown,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,NaN,2
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,Unknown,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,5.800000,2
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,6.214286,2
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,Unknown,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,6.692308,2
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,1.338462,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,Unknown,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef),3.214286,2
129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation,1.200000,2
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,Unknown,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser,3.000000,2
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,Unknown,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss,2.812500,2
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,Unknown,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit,4.285714,2

각 포인트 별로 몇개의 리뷰가 있는가?

예를들어 95점은 4개, 94점은 10개.....

In [73]:
#### 나의 풀이

# # 각 포인트 별 리뷰의 개수....
# # 포인트 컬럼에 값이 있으면서 디스크립션 컬럼에도 값이 있는 행을 찾아서
# # 같은 점수가 몇개있는지 nunique 를 사용하면 되지 않을까?


# reviews.head()
# reviews['points'].isna().sum()  # 값 전부 있음
# reviews['description'].isna().sum() # 값 전부 있음

# # 결측치 있는지 확인했는데 전부 값 있음.
# # 그렇다면... 같은 점수가 몇개있는지만 확인하면 그게 리뷰 수랑 같아짐. 
# # 같은 점수의 개수 = 그 점수의 리뷰 수
# # nunique  --> 잘 안나와 같은 값을 가진에 21가지 있다고함. 다른거 사용해보기
# reviews['points'].nunique()
# # value_counts() 
# reviews['points'].value_counts()
# # 오케이 나왔다~~

88     17207
87     16933
90     15410
86     12600
89     12226
91     11359
92      9613
85      9530
93      6489
84      6480
94      3758
83      3025
82      1836
95      1535
81       692
96       523
80       397
97       229
98        77
99        33
100       19
Name: points, dtype: int64

In [126]:
#### 해설


# # 1.
# reviews
# # 2. 
# reviews['points']
# # 3.
reviews['points'].value_counts()

88     17207
87     16933
90     15410
86     12600
89     12226
91     11359
92      9613
85      9530
93      6489
84      6480
94      3758
83      3025
82      1836
95      1535
81       692
96       523
80       397
97       229
98        77
99        33
100       19
Name: points, dtype: int64

가장 점수가 높은 와인은 무엇인가?

In [ ]:
#### 나의 풀이

# reviews.sort_values(by = ['points'], ascending = False)

In [98]:
#### 해설


# # 1. 
# reviews['points'].max()
# # 2.
# reviews['points'] = reviews['points'].max()
# # 3.
# reviews.loc[ reviews['points'] == reviews['points'].max(),  ]

In [127]:
reviews['points'].max()

100

In [128]:
reviews['points'] == reviews['points'].max()

0         False
1         False
2         False
3         False
4         False
          ...
129966    False
129967    False
129968    False
129969    False
129970    False
Name: points, Length: 129971, dtype: bool

점수는 높고 가격은 싼 와인 순서대로 보여주시오

In [ ]:
#### 나의 풀이

# 점수는 False로 가격은 True로 정렬

# reviews.sort_values( by = ['points', 'price'], ascending = [False, True])

In [129]:
#### 해설


# # 1. 정렬하기
# reviews.sort_values('points')
# # 2. 내림차순 정렬
# reviews.sort_values('points', ascending = False)
# # 3. 정렬 기준 2개 이상으로 하기 -> 리스트 활용 : 둘 다 오름차순으로 나옴
# reviews.sort_values(['points', 'price'])
# # 4. 내림차순 정렬
# reviews.sort_values(['points', 'price'], ascending = False)
# # 5. 정렬 다르게 조건 주기 -> 조건이 여러개니까 리스트 활용
reviews.sort_values(['points', 'price'], ascending = [False, True])

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,gasungbi,star
113929,US,In 2005 Charles Smith introduced three high-en...,Royal City,100,80.0,Washington,Columbia Valley (WA),Columbia Valley,Paul Gregutt,@paulgwine,Charles Smith 2006 Royal City Syrah (Columbia ...,Syrah,Charles Smith,1.250000,3
123545,US,Initially a rather subdued Frog; as if it has ...,Bionic Frog,100,80.0,Washington,Walla Walla Valley (WA),Columbia Valley,Paul Gregutt,@paulgwine,Cayuse 2008 Bionic Frog Syrah (Walla Walla Val...,Syrah,Cayuse,1.250000,3
58352,France,"This is a magnificently solid wine, initially ...",NaN,100,150.0,Bordeaux,Saint-Julien,Unknown,Roger Voss,@vossroger,Château Léoville Barton 2010 Saint-Julien,Bordeaux-style Red Blend,Château Léoville Barton,0.666667,3
45798,US,Tasted in a flight of great and famous Napa wi...,NaN,100,200.0,California,Napa Valley,Napa,NaN,NaN,Cardinale 2006 Cabernet Sauvignon (Napa Valley),Cabernet Sauvignon,Cardinale,0.500000,3
7335,Italy,Thick as molasses and dark as caramelized brow...,Occhio di Pernice,100,210.0,Tuscany,Vin Santo di Montepulciano,Unknown,NaN,NaN,Avignonesi 1995 Occhio di Pernice (Vin Santo ...,Prugnolo Gentile,Avignonesi,0.476190,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122417,US,There's little going on in this wine beyond su...,DeLuz,80,45.0,California,California,California Other,NaN,NaN,Casa Tiene Vista NV DeLuz Red (California),Red Blend,Casa Tiene Vista,1.777778,1
28569,US,Smells and tastes like caramel and stewed cher...,Scoprire,80,55.0,California,California,California Other,NaN,NaN,Millésimé 2005 Scoprire Red (California),Red Blend,Millésimé,1.454545,1
103989,US,This suffers from major problems. It has all t...,Miljenko's Old Vines,80,69.0,California,Napa Valley,Napa,NaN,NaN,Grgich Hills 2004 Miljenko's Old Vines Zinfand...,Zinfandel,Grgich Hills,1.159420,1
117025,Portugal,A curious sauerkraut perfume leads to a hard e...,NaN,80,NaN,Lisboa,NaN,Unknown,Roger Voss,@vossroger,Quinta do Pinto 2008 Touriga Nacional (Lisboa),Touriga Nacional,Quinta do Pinto,NaN,1
123541,Italy,"This Valpolicella blend opens with an aged, br...",Corte Antica,80,NaN,Veneto,Valpolicella Classico Superiore,Unknown,NaN,NaN,Cantine Benedetti 2008 Corte Antica (Valpolic...,"Corvina, Rondinella, Molinara",Cantine Benedetti,NaN,1

포인트별로 가격의 최소값을 구해본다

이것을 구하면, 100점짜리 와인을 먹으려면 최소한 얼마가 있어야 하는지 파악이 가능함.

In [ ]:
#### 나의 풀이

In [84]:
#### 해설


# # 1. 포인트별로 -> groupby 사용해보기
# reviews.groupby('points')

In [130]:
#### 해설


# 1. 포인트별로 -> groupby 사용해보기
# 2. 그룹바이한 것을 가격별로 또 묶기

reviews.groupby('points')['price'].min()

points
80      5.0
81      5.0
82      4.0
83      4.0
84      4.0
85      4.0
86      4.0
87      5.0
88      6.0
89      7.0
90      8.0
91      7.0
92     11.0
93     12.0
94     13.0
95     20.0
96     20.0
97     35.0
98     50.0
99     44.0
100    80.0
Name: price, dtype: float64

In [131]:
#### 해설

# 최대 최소가격을 다 찾고 싶을때
import numpy as np

reviews.groupby('points')['price'].agg( [np.min, np.max] ).sort_index(ascending = False)  # 기본 오름차순

        amin    amax
points
100     80.0  1500.0
99      44.0   850.0
98      50.0  1900.0
97      35.0  2000.0
96      20.0  2500.0
95      20.0   973.0
94      13.0  1125.0
93      12.0   770.0
92      11.0   750.0
91       7.0  2013.0
90       8.0   510.0
89       7.0   500.0
88       6.0  3300.0
87       5.0   800.0
86       4.0   170.0
85       4.0   320.0
84       4.0   225.0
83       4.0   225.0
82       4.0   150.0
81       5.0   130.0
80       5.0    69.0

# 뭔가가 이상하니까 강사님 코렙 보고 틀린점 확인하기
-->> 고침!