winemag-data.csv 파일을 reviews 로 읽는다.

In [2]:
import pandas as pd

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
reviews = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/yh-k4-main-수정용/data/winemag-data.csv', index_col = 0 )

reviews

reviews.head(3)

리뷰 데이터프레임에서 points 컬럼의  median 값은?

In [ ]:
#### 나의 풀이

In [7]:
#### 해설

# 
reviews['points'].median()

88.0

나라를 중복되지 않도록 가져와서 countries 변수에 저장하고, 화면에 출력하시오.

In [ ]:
#### 나의 풀이

In [11]:
#### 해설

# 1. 필요한 데이터에 접근
reviews['country']

# 2. 중복제거
reviews['country'].unique()

# 3. 변수에 저장 및 출력
countries =  reviews['country'].unique()
countries

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', nan, 'Turkey', 'Czech Republic', 'Slovenia',
       'Luxembourg', 'Croatia', 'Georgia', 'Uruguay', 'England',
       'Lebanon', 'Serbia', 'Brazil', 'Moldova', 'Morocco', 'Peru',
       'India', 'Bulgaria', 'Cyprus', 'Armenia', 'Switzerland',
       'Bosnia and Herzegovina', 'Ukraine', 'Slovakia', 'Macedonia',
       'China', 'Egypt'], dtype=object)

각 국가별로는 몇개의 리뷰가 있는지, 각국가별 리뷰수를 구하시오.

In [ ]:
#### 나의 풀이

In [12]:
#### 해설

# 1. 첫번째
# 1) 국가별로 묶어라 - groupby
reviews.groupby('country')
# 2) 국가별로 묶어서 컨트리만 가져와서
reviews.groupby('country')['country']
# 3) 갯수 세기
reviews.groupby('country')['country'].count()

country
Argentina                  3800
Armenia                       2
Australia                  2329
Austria                    3345
Bosnia and Herzegovina        2
Brazil                       52
Bulgaria                    141
Canada                      257
Chile                      4472
China                         1
Croatia                      73
Cyprus                       11
Czech Republic               12
Egypt                         1
England                      74
France                    22093
Georgia                      86
Germany                    2165
Greece                      466
Hungary                     146
India                         9
Israel                      505
Italy                     19540
Lebanon                      35
Luxembourg                    6
Macedonia                    12
Mexico                       70
Moldova                      59
Morocco                      28
New Zealand                1419
Peru                         16
Portugal                   5691
Romania                     120
Serbia                       12
Slovakia                      1
Slovenia                     87
South Africa               1401
Spain                      6645
Switzerland                   7
Turkey                       90
US                        54504
Ukraine                      14
Uruguay                     109
Name: country, dtype: int64

In [ ]:
# 4) 정렬하기
# 판다스 시리즈임

reviews.groupby('country')['country'].count().sort_values()  # 오름차순
# reviews.groupby('country')['country'].count().sort_values(ascending = False) # 내림차순

In [ ]:
#### 해설

# 2. 두번째 
reviews['country'].value_counts()  # .value_counts() 의 () 안에 ascending = False 넣으면 내림차순

리뷰 데이터프레임의 price 컬럼 값에서, price의 평균값을 뺀 값을, centered_price 라고 저장하시오.

In [ ]:
#### 나의 풀이

In [17]:
#### 해설

# 1. 데이터 정보 확인하기
reviews.head(3)

# 2. 프라이스의 평균값 구하기 ( nan 이 있어도 평균 구해줌,)
reviews.describe()  # 정보확인 

reviews['price'].mean()

# 3. 모든 행의 프라이스 - 프라이스 평균 해서 새 변수 만들어서 저장하기
centered_price = reviews['price'] - reviews['price'].mean()
centered_price

0               NaN
1        -20.363389
2        -21.363389
3        -22.363389
4         29.636611
            ...
129966    -7.363389
129967    39.636611
129968    -5.363389
129969    -3.363389
129970   -14.363389
Name: price, Length: 129971, dtype: float64

나는 경제적이므로, 가격대비 포인트가 가장 큰 와인을 사려한다. 해당 와인의 title은?

In [ ]:
#### 나의 풀이


# 가격 대비 포인트가 큰 와인.
# 정렬하기  1 포인트 높은 것 중 2 가격이 낮은것

reviews['points'].sort_values(ascending = False).head(10)
reviews['price'].sort_values

In [ ]:
#### 해설


# 1. 포인트가 높은 와인
reviews.head(2)  # 가격대비 포인트라는 컬럼을 찾아보기 있으면 이거 정렬하면 됨.

# 2. 가격대비 포인트 컬럼이 없으므로 컬럼을 만들기 --->>> 데이터 가공
# 사칙연산 통해 가격대비 포인트를 구해보기 ( 퍼센트 만들기 )
# 포인트를 가격으로 나누기  포인트/프라이스
reviews['points'] / reviews['price']

# 3. 새로운 컬럼 만들어서 데이터 집어넣기
reviews['gasungbi'] = reviews['points'] / reviews['price']
reviews

# 4. 가성비 컬럼을 내림차순으로 정렬하기
reviews.sort_values('gasungbi', ascending = False).head(10)

In [ ]:
reviews.sort_values(by = ['gasungbi', 'price'], ascending = False).head(10)

사람들이 어떤와인을 더 많이 거론했는지 보려한다.

"tropical" 이 들어있는 리뷰의 갯수를 세고, "fruity" 라고 들어있는 리뷰의 갯수를 세어서

판다스 시리즈로 descriptor_counts 변수로 만들어 보자.

In [ ]:

# 깃허브의 데이터분석 항목 참고
# 또는 
# 데이터프레임의 apply 함수도 고려

In [ ]:
#### 나의 풀이

# 데이터 정보 또는 컬럼 확인
reviews.head(2)

In [47]:
#### 나의 풀이

# 트로피컬 몇개 있는지 세고
# 프루티 얼마있는지 세고


# 트로피컬 세기

# reviews['description'].str.contains('tropical')                           # 리뷰 문장에 트로피컬이 들어가는 행 찾기
# reviews['description'][reviews['description'].str.contains('tropical')]   # True만 나오는 행 찾기
reviews['description'][reviews['description'].str.contains('tropical')].count()  # True만 나오는거 카운트

3607

In [48]:
#### 나의 풀이

# 프루티 세기

reviews['description'][reviews['description'].str.contains('fruity')].count()

9090

In [ ]:
#### 해설

별점 시스템을 만들려고 한다. 따라서 별점에 대한 데이터가 필요하다.

별점은 1,2,3 즉 3개로 만들것이다.

포인트가 95점 이상이면 3점, 85점 이상이면 2점, 나머지는 1점으로 할 것이다. 

리뷰데이터를 통해 각 데이터의 별점을 구하시오.

In [ ]:
#### 나의 풀이

reviews['points'] >= 95  == 3
95 > reviews['points'] >= 85  == 2
85 > reviews['points']   == 1

In [ ]:
#### 해설

리뷰의 region_2 컬럼에 데이터가 비어있는 경우에는, 'Unknown'으로 셋팅하자.

In [ ]:
#### 나의 풀이

In [ ]:
#### 해설