# 5월 26일

# 두번째 프로젝트

## K - Means 알고리즘

- csv 파일(데이터)을 넣어주면
- 데이터를 그룹핑( = clustering) 해 주는 앱을 만들어보자

#### 참고 ) 용어 구분
- regression 회귀 : 숫자 예측.

  - 관찰된 연속형 변수들에 대해 두 변수 사이의 모형을 구한 뒤 적합도를 측정해 내는 분석 방법.
  - 정답이 있어야 함.

- classification 분류 : 
정해져있는것이 있는데 이게 그 중 어디에 들어갈까?


- clustering 군집 :

  - (예시) 주문 내역 보고 주문 내역이 비슷한 사람들끼리 묶어보면 어떤 특징을 알 수 있지 않을까?

  - (예시) 불량이 많이 나오는데 어디서 불량이 나오는지 그룹핑을 한번 해볼까?

#### 참고) 용어 정의

regression, classification : 슈퍼바이즈드 러닝 

clustering : 언슈퍼바이즈드 러닝


==>> 슈퍼바이즈드 러닝이란?

: 감독된 기계 학습 알고리즘은 라벨로 표시된 예를 사용하여 미래 사건을 예측하는 새로운 데이터에 과거 학습한 내용을 적용


==>> 언슈퍼바이즈드 러닝이란?

: 훈련하는 데 사용되는 정보가 분류되지 않거나 라벨이 붙어 있지 않을 때, 감독되지 않는 기계 학습 알고리즘이 사용

In [ ]:
### 다음 데이터로 집값 예측하는 방법 (regression)

# 방 수, 화장실 수, 평수, 층수, 지역
# 3, 2, 70, 17, 청라
# 2, 1, 20, 3, 계양

# -->> 못함. 왜? 집값이 없음!!

#### 데이터 분석

##### 데이터 불러오기

In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# pd.read_csv('/content/drive/MyDrive/Colab Notebooks/yh-k4-main2-원본용/data/Mall_Customers.csv')

In [5]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/yh-k4-main2-원본용/data/Mall_Customers.csv')

##### 데이터 정보 확인

In [6]:
df

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [7]:
df.describe()

       CustomerID         Age  Annual Income (k$)  Spending Score (1-100)
count  200.000000  200.000000          200.000000              200.000000
mean   100.500000   38.850000           60.560000               50.200000
std     57.879185   13.969007           26.264721               25.823522
min      1.000000   18.000000           15.000000                1.000000
25%     50.750000   28.750000           41.500000               34.750000
50%    100.500000   36.000000           61.500000               50.000000
75%    150.250000   49.000000           78.000000               73.000000
max    200.000000   70.000000          137.000000               99.000000

In [8]:
df['Annual Income (k$)'].max()

137

In [9]:
df['Annual Income (k$)'] == df['Annual Income (k$)'].max()

0      False
1      False
2      False
3      False
4      False
       ...
195    False
196    False
197    False
198     True
199     True
Name: Annual Income (k$), Length: 200, dtype: bool

In [11]:

# 가장 수입이 많은 사람

df.loc[   df['Annual Income (k$)'] == df['Annual Income (k$)'].max() ,   ]

     CustomerID Genre  Age  Annual Income (k$)  Spending Score (1-100)
198         199  Male   32                 137                      18
199         200  Male   30                 137                      83

In [12]:

# 가장 소비 점수가 높은 사람

df.loc[   df['Spending Score (1-100)'] == df['Spending Score (1-100)'].max() ,   ]

    CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
11          12  Female   35                  19                      99

In [13]:

# 가장 나이가 많은 사람

df.loc[   df['Age'] == df['Age'].max() ,   ]

    CustomerID Genre  Age  Annual Income (k$)  Spending Score (1-100)
60          61  Male   70                  46                      56
70          71  Male   70                  49                      55

In [14]:

# 비어있는 데이터 확인

df.isna().sum()

# 결측치가 있다면 df = df.dropna( inplace = True ) 써서 비어있는데이터 없애주기 
 # (inplace = True 쓰면 메모리에 변경해서 저장해라 라는 의미)

CustomerID                0
Genre                     0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

##### 데이터 학습하기

In [15]:
df.head(2)

   CustomerID Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1  Male   19                  15                      39
1           2  Male   21                  15                      81

In [ ]:
#### 무엇을 y로 해야 할까?

# 목적 : 비슷한 사람들끼리 묶기 위해
# 묶인 그룹을 예측해야함.
# 컴퓨터니까 그룹정보는 0,1,2,3... 이런식으로 숫자로 나와야함.

# 여기서 -->> y는 없고 X만 세팅 하면 됨.

In [17]:
#  행은 다 써야함, 행은 1번인덱스부터 끝까지

X = df.iloc[  :  ,  1: ]

# df.iloc[  :  ,  1: ].values 붙이면 넘파이로 학습함

In [18]:
X

      Genre  Age  Annual Income (k$)  Spending Score (1-100)
0      Male   19                  15                      39
1      Male   21                  15                      81
2    Female   20                  16                       6
3    Female   23                  16                      77
4    Female   31                  17                      40
..      ...  ...                 ...                     ...
195  Female   35                 120                      79
196  Female   45                 126                      28
197    Male   32                 126                      74
198    Male   32                 137                      18
199    Male   30                 137                      83

[200 rows x 4 columns]

In [22]:

# 젠더는 숫자가 아니기때문에 숫자로 바꿔줘야함. ===>> '인코딩' 한다고 함.
# 숫자로 바꿔주는 인코딩 : 레이블 인코딩, 원 핫 인코딩


# 데이터 종류가 몇개나 있느냐
df['Genre'].nunique()

2

In [23]:

from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [24]:

# 라이브를 가져오면 항상 변수에 저장해둬야 함

label_encoder = LabelEncoder()

In [26]:

# 젠더 컬럼에 데이터를 숫자로 바꿔달라
# 바뀌는 순서는 알파벳순


# 바꾼걸 다시 컬럼으로 집어 넣어야 함.

X['Genre'] = label_encoder.fit_transform(  X['Genre']  )

In [27]:
X

     Genre  Age  Annual Income (k$)  Spending Score (1-100)
0        1   19                  15                      39
1        1   21                  15                      81
2        0   20                  16                       6
3        0   23                  16                      77
4        0   31                  17                      40
..     ...  ...                 ...                     ...
195      0   35                 120                      79
196      0   45                 126                      28
197      1   32                 126                      74
198      1   32                 137                      18
199      1   30                 137                      83

[200 rows x 4 columns]

In [28]:

# 각 컬럼별 범위 확인
# 각 컬럼별 ㅁ범위를 통일시켜줘야 함

X.describe()

            Genre         Age  Annual Income (k$)  Spending Score (1-100)
count  200.000000  200.000000          200.000000              200.000000
mean     0.440000   38.850000           60.560000               50.200000
std      0.497633   13.969007           26.264721               25.823522
min      0.000000   18.000000           15.000000                1.000000
25%      0.000000   28.750000           41.500000               34.750000
50%      0.000000   36.000000           61.500000               50.000000
75%      1.000000   49.000000           78.000000               73.000000
max      1.000000   70.000000          137.000000               99.000000

##### 피쳐 스케일링

In [29]:

from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [30]:
scaler = MinMaxScaler()

In [31]:

scaler.fit_transform(  X  )

array([[1.        , 0.01923077, 0.        , 0.3877551 ],
       [1.        , 0.05769231, 0.        , 0.81632653],
       [0.        , 0.03846154, 0.00819672, 0.05102041],
       [0.        , 0.09615385, 0.00819672, 0.7755102 ],
       [0.        , 0.25      , 0.01639344, 0.39795918],
       [0.        , 0.07692308, 0.01639344, 0.76530612],
       [0.        , 0.32692308, 0.02459016, 0.05102041],
       [0.        , 0.09615385, 0.02459016, 0.94897959],
       [1.        , 0.88461538, 0.03278689, 0.02040816],
       [0.        , 0.23076923, 0.03278689, 0.7244898 ],
       [1.        , 0.94230769, 0.03278689, 0.13265306],
       [0.        , 0.32692308, 0.03278689, 1.        ],
       [0.        , 0.76923077, 0.04098361, 0.14285714],
       [0.        , 0.11538462, 0.04098361, 0.7755102 ],
       [1.        , 0.36538462, 0.04098361, 0.12244898],
       [1.        , 0.07692308, 0.04098361, 0.79591837],
       [0.        , 0.32692308, 0.04918033, 0.34693878],
       [1.        , 0.03846154, 0.04918033, 0.66326531],
       [1.        , 0.65384615, 0.06557377, 0.28571429],
       [0.        , 0.32692308, 0.06557377, 0.98979592],
       [1.        , 0.32692308, 0.07377049, 0.34693878],
       [1.        , 0.13461538, 0.07377049, 0.73469388],
       [0.        , 0.53846154, 0.08196721, 0.04081633],
       [1.        , 0.25      , 0.08196721, 0.73469388],
       [0.        , 0.69230769, 0.10655738, 0.13265306],
       [1.        , 0.21153846, 0.10655738, 0.82653061],
       [0.        , 0.51923077, 0.10655738, 0.31632653],
       [1.        , 0.32692308, 0.10655738, 0.6122449 ],
       [0.        , 0.42307692, 0.1147541 , 0.30612245],
       [0.        , 0.09615385, 0.1147541 , 0.87755102],
       [1.        , 0.80769231, 0.12295082, 0.03061224],
       [0.        , 0.05769231, 0.12295082, 0.73469388],
       [1.        , 0.67307692, 0.14754098, 0.03061224],
       [1.        , 0.        , 0.14754098, 0.92857143],
       [0.        , 0.59615385, 0.14754098, 0.13265306],
       [0.        , 0.05769231, 0.14754098, 0.81632653],
       [0.        , 0.46153846, 0.1557377 , 0.16326531],
       [0.        , 0.23076923, 0.1557377 , 0.73469388],
       [0.        , 0.34615385, 0.18032787, 0.25510204],
       [0.        , 0.03846154, 0.18032787, 0.75510204],
       [0.        , 0.90384615, 0.18852459, 0.34693878],
       [1.        , 0.11538462, 0.18852459, 0.92857143],
       [1.        , 0.57692308, 0.19672131, 0.35714286],
       [0.        , 0.25      , 0.19672131, 0.6122449 ],
       [0.        , 0.59615385, 0.19672131, 0.2755102 ],
       [0.        , 0.11538462, 0.19672131, 0.65306122],
       [0.        , 0.61538462, 0.20491803, 0.55102041],
       [0.        , 0.17307692, 0.20491803, 0.46938776],
       [0.        , 0.21153846, 0.20491803, 0.41836735],
       [0.        , 0.25      , 0.20491803, 0.41836735],
       [0.        , 0.59615385, 0.22131148, 0.52040816],
       [1.        , 0.28846154, 0.22131148, 0.60204082],
       [0.        , 0.25      , 0.2295082 , 0.54081633],
       [1.        , 0.78846154, 0.2295082 , 0.60204082],
       [0.        , 0.61538462, 0.2295082 , 0.44897959],
       [1.        , 0.55769231, 0.2295082 , 0.40816327],
       [0.        , 0.63461538, 0.23770492, 0.5       ],
       [1.        , 0.98076923, 0.23770492, 0.45918367],
       [0.        , 0.17307692, 0.25409836, 0.51020408],
       [1.        , 0.67307692, 0.25409836, 0.45918367],
       [1.        , 1.        , 0.25409836, 0.56122449],
       [1.        , 0.01923077, 0.25409836, 0.55102041],
       [0.        , 0.94230769, 0.26229508, 0.52040816],
       [0.        , 0.69230769, 0.26229508, 0.59183673],
       [1.        , 0.86538462, 0.2704918 , 0.51020408],
       [1.        , 0.        , 0.2704918 , 0.59183673],
       [0.        , 0.48076923, 0.2704918 , 0.5       ],
       [0.        , 0.96153846, 0.2704918 , 0.47959184],
       [1.        , 0.01923077, 0.2704918 , 0.59183673],
       [0.        , 0.26923077, 0.2704918 , 0.46938776],
       [1.        , 1.        , 0.27868852, 0.55102041],
       [0.        , 0.55769231, 0.27868852, 0.41836735],
       [0.        , 0.80769231, 0.28688525, 0.48979592],
       [0.        , 0.80769231, 0.28688525, 0.56122449],
       [1.        , 0.78846154, 0.31967213, 0.46938776],
       [1.        , 0.15384615, 0.31967213, 0.54081633],
       [0.        , 0.51923077, 0.31967213, 0.53061224],
       [1.        , 0.42307692, 0.31967213, 0.47959184],
       [0.        , 0.09615385, 0.31967213, 0.52040816],
       [0.        , 0.59615385, 0.31967213, 0.41836735],
       [1.        , 0.75      , 0.31967213, 0.51020408],
       [1.        , 0.38461538, 0.31967213, 0.55102041],
       [1.        , 0.94230769, 0.31967213, 0.40816327],
       [0.        , 0.53846154, 0.31967213, 0.43877551],
       [0.        , 0.05769231, 0.31967213, 0.57142857],
       [1.        , 0.57692308, 0.31967213, 0.45918367],
       [0.        , 0.71153846, 0.3442623 , 0.58163265],
       [0.        , 0.07692308, 0.3442623 , 0.55102041],
       [0.        , 0.30769231, 0.35245902, 0.60204082],
       [0.        , 0.61538462, 0.35245902, 0.45918367],
       [0.        , 0.96153846, 0.36065574, 0.55102041],
       [1.        , 0.        , 0.36065574, 0.40816327],
       [1.        , 0.57692308, 0.36885246, 0.48979592],
       [0.        , 0.42307692, 0.36885246, 0.39795918],
       [0.        , 0.26923077, 0.36885246, 0.41836735],
       [1.        , 0.11538462, 0.36885246, 0.52040816],
       [0.        , 0.55769231, 0.36885246, 0.46938776],
       [0.        , 0.17307692, 0.36885246, 0.5       ],
       [1.        , 0.57692308, 0.37704918, 0.41836735],
       [1.        , 0.03846154, 0.37704918, 0.48979592],
       [0.        , 0.09615385, 0.3852459 , 0.40816327],
       [0.        , 0.59615385, 0.3852459 , 0.47959184],
       [1.        , 0.94230769, 0.3852459 , 0.59183673],
       [1.        , 0.15384615, 0.3852459 , 0.55102041],
       [1.        , 0.59615385, 0.3852459 , 0.56122449],
       [0.        , 0.05769231, 0.3852459 , 0.41836735],
       [0.        , 0.92307692, 0.39344262, 0.5       ],
       [1.        , 0.69230769, 0.39344262, 0.45918367],
       [1.        , 0.96153846, 0.39344262, 0.42857143],
       [1.        , 0.92307692, 0.39344262, 0.47959184],
       [1.        , 0.90384615, 0.39344262, 0.52040816],
       [0.        , 0.01923077, 0.39344262, 0.54081633],
       [0.        , 0.38461538, 0.40163934, 0.41836735],
       [1.        , 0.01923077, 0.40163934, 0.45918367],
       [0.        , 0.        , 0.40983607, 0.47959184],
       [0.        , 0.01923077, 0.40983607, 0.5       ],
       [0.        , 0.86538462, 0.40983607, 0.42857143],
       [0.        , 0.59615385, 0.40983607, 0.59183673],
       [0.        , 0.63461538, 0.42622951, 0.42857143],
       [0.        , 0.61538462, 0.42622951, 0.57142857],
       [1.        , 0.17307692, 0.42622951, 0.56122449],
       [0.        , 0.38461538, 0.42622951, 0.39795918],
       [0.        , 0.42307692, 0.44262295, 0.58163265],
       [1.        , 0.40384615, 0.44262295, 0.91836735],
       [0.        , 0.09615385, 0.45081967, 0.28571429],
       [0.        , 0.25      , 0.45081967, 0.7755102 ],
       [1.        , 0.48076923, 0.45901639, 0.34693878],
       [1.        , 0.42307692, 0.45901639, 0.95918367],
       [1.        , 0.78846154, 0.45901639, 0.10204082],
       [1.        , 0.38461538, 0.45901639, 0.75510204],
       [1.        , 0.55769231, 0.45901639, 0.08163265],
       [1.        , 0.40384615, 0.45901639, 0.75510204],
       [0.        , 0.13461538, 0.46721311, 0.33673469],
       [0.        , 0.25      , 0.46721311, 0.71428571],
       [1.        , 0.03846154, 0.47540984, 0.04081633],
       [0.        , 0.21153846, 0.47540984, 0.8877551 ],
       [0.        , 0.5       , 0.47540984, 0.06122449],
       [1.        , 0.26923077, 0.47540984, 0.73469388],
       [1.        , 0.01923077, 0.48360656, 0.09183673],
       [0.        , 0.32692308, 0.48360656, 0.7244898 ],
       [0.        , 0.75      , 0.49180328, 0.04081633],
       [1.        , 0.26923077, 0.49180328, 0.93877551],
       [0.        , 0.19230769, 0.5       , 0.39795918],
       [0.        , 0.26923077, 0.5       , 0.87755102],
       [1.        , 0.13461538, 0.50819672, 0.1122449 ],
       [1.        , 0.19230769, 0.50819672, 0.97959184],
       [1.        , 0.57692308, 0.50819672, 0.35714286],
       [0.        , 0.26923077, 0.50819672, 0.74489796],
       [0.        , 0.30769231, 0.51639344, 0.21428571],
       [1.        , 0.30769231, 0.51639344, 0.90816327],
       [1.        , 0.48076923, 0.51639344, 0.16326531],
       [1.        , 0.40384615, 0.51639344, 0.8877551 ],
       [0.        , 0.5       , 0.51639344, 0.19387755],
       [0.        , 0.38461538, 0.51639344, 0.76530612],
       [0.        , 0.55769231, 0.51639344, 0.15306122],
       [0.        , 0.17307692, 0.51639344, 0.89795918],
       [1.        , 0.36538462, 0.51639344, 0.        ],
       [0.        , 0.23076923, 0.51639344, 0.78571429],
       [1.        , 0.30769231, 0.51639344, 0.        ],
       [0.        , 0.23076923, 0.51639344, 0.73469388],
       [0.        , 0.73076923, 0.52459016, 0.34693878],
       [0.        , 0.21153846, 0.52459016, 0.83673469],
       [1.        , 0.01923077, 0.54098361, 0.04081633],
       [0.        , 0.25      , 0.54098361, 0.93877551],
       [1.        , 0.61538462, 0.57377049, 0.25510204],
       [0.        , 0.34615385, 0.57377049, 0.75510204],
       [1.        , 0.46153846, 0.58196721, 0.19387755],
       [0.        , 0.28846154, 0.58196721, 0.95918367],
       [0.        , 0.34615385, 0.59016393, 0.26530612],
       [1.        , 0.26923077, 0.59016393, 0.63265306],
       [1.        , 0.42307692, 0.59016393, 0.12244898],
       [1.        , 0.19230769, 0.59016393, 0.75510204],
       [1.        , 0.34615385, 0.59016393, 0.09183673],
       [1.        , 0.34615385, 0.59016393, 0.92857143],
       [0.        , 0.65384615, 0.59836066, 0.12244898],
       [0.        , 0.23076923, 0.59836066, 0.86734694],
       [1.        , 0.76923077, 0.59836066, 0.14285714],
       [1.        , 0.17307692, 0.59836066, 0.69387755],
       [1.        , 0.78846154, 0.63934426, 0.13265306],
       [1.        , 0.32692308, 0.63934426, 0.90816327],
       [0.        , 0.36538462, 0.67213115, 0.31632653],
       [0.        , 0.26923077, 0.67213115, 0.86734694],
       [1.        , 0.53846154, 0.68032787, 0.14285714],
       [0.        , 0.21153846, 0.68032787, 0.8877551 ],
       [0.        , 0.44230769, 0.68852459, 0.3877551 ],
       [1.        , 0.23076923, 0.68852459, 0.97959184],
       [0.        , 0.69230769, 0.70491803, 0.23469388],
       [1.        , 0.19230769, 0.70491803, 0.68367347],
       [0.        , 0.44230769, 0.72131148, 0.16326531],
       [0.        , 0.34615385, 0.72131148, 0.85714286],
       [0.        , 0.30769231, 0.72131148, 0.2244898 ],
       [0.        , 0.26923077, 0.72131148, 0.69387755],
       [1.        , 0.28846154, 0.80327869, 0.07142857],
       [0.        , 0.38461538, 0.80327869, 0.91836735],
       [0.        , 0.55769231, 0.86065574, 0.15306122],
       [0.        , 0.32692308, 0.86065574, 0.79591837],
       [0.        , 0.51923077, 0.90983607, 0.2755102 ],
       [1.        , 0.26923077, 0.90983607, 0.74489796],
       [1.        , 0.26923077, 1.        , 0.17346939],
       [1.        , 0.23076923, 1.        , 0.83673469]])

In [32]:
X_scaled = scaler.fit_transform(  X  )

In [33]:
X_scaled

array([[1.        , 0.01923077, 0.        , 0.3877551 ],
       [1.        , 0.05769231, 0.        , 0.81632653],
       [0.        , 0.03846154, 0.00819672, 0.05102041],
       [0.        , 0.09615385, 0.00819672, 0.7755102 ],
       [0.        , 0.25      , 0.01639344, 0.39795918],
       [0.        , 0.07692308, 0.01639344, 0.76530612],
       [0.        , 0.32692308, 0.02459016, 0.05102041],
       [0.        , 0.09615385, 0.02459016, 0.94897959],
       [1.        , 0.88461538, 0.03278689, 0.02040816],
       [0.        , 0.23076923, 0.03278689, 0.7244898 ],
       [1.        , 0.94230769, 0.03278689, 0.13265306],
       [0.        , 0.32692308, 0.03278689, 1.        ],
       [0.        , 0.76923077, 0.04098361, 0.14285714],
       [0.        , 0.11538462, 0.04098361, 0.7755102 ],
       [1.        , 0.36538462, 0.04098361, 0.12244898],
       [1.        , 0.07692308, 0.04098361, 0.79591837],
       [0.        , 0.32692308, 0.04918033, 0.34693878],
       [1.        , 0.03846154, 0.04918033, 0.66326531],
       [1.        , 0.65384615, 0.06557377, 0.28571429],
       [0.        , 0.32692308, 0.06557377, 0.98979592],
       [1.        , 0.32692308, 0.07377049, 0.34693878],
       [1.        , 0.13461538, 0.07377049, 0.73469388],
       [0.        , 0.53846154, 0.08196721, 0.04081633],
       [1.        , 0.25      , 0.08196721, 0.73469388],
       [0.        , 0.69230769, 0.10655738, 0.13265306],
       [1.        , 0.21153846, 0.10655738, 0.82653061],
       [0.        , 0.51923077, 0.10655738, 0.31632653],
       [1.        , 0.32692308, 0.10655738, 0.6122449 ],
       [0.        , 0.42307692, 0.1147541 , 0.30612245],
       [0.        , 0.09615385, 0.1147541 , 0.87755102],
       [1.        , 0.80769231, 0.12295082, 0.03061224],
       [0.        , 0.05769231, 0.12295082, 0.73469388],
       [1.        , 0.67307692, 0.14754098, 0.03061224],
       [1.        , 0.        , 0.14754098, 0.92857143],
       [0.        , 0.59615385, 0.14754098, 0.13265306],
       [0.        , 0.05769231, 0.14754098, 0.81632653],
       [0.        , 0.46153846, 0.1557377 , 0.16326531],
       [0.        , 0.23076923, 0.1557377 , 0.73469388],
       [0.        , 0.34615385, 0.18032787, 0.25510204],
       [0.        , 0.03846154, 0.18032787, 0.75510204],
       [0.        , 0.90384615, 0.18852459, 0.34693878],
       [1.        , 0.11538462, 0.18852459, 0.92857143],
       [1.        , 0.57692308, 0.19672131, 0.35714286],
       [0.        , 0.25      , 0.19672131, 0.6122449 ],
       [0.        , 0.59615385, 0.19672131, 0.2755102 ],
       [0.        , 0.11538462, 0.19672131, 0.65306122],
       [0.        , 0.61538462, 0.20491803, 0.55102041],
       [0.        , 0.17307692, 0.20491803, 0.46938776],
       [0.        , 0.21153846, 0.20491803, 0.41836735],
       [0.        , 0.25      , 0.20491803, 0.41836735],
       [0.        , 0.59615385, 0.22131148, 0.52040816],
       [1.        , 0.28846154, 0.22131148, 0.60204082],
       [0.        , 0.25      , 0.2295082 , 0.54081633],
       [1.        , 0.78846154, 0.2295082 , 0.60204082],
       [0.        , 0.61538462, 0.2295082 , 0.44897959],
       [1.        , 0.55769231, 0.2295082 , 0.40816327],
       [0.        , 0.63461538, 0.23770492, 0.5       ],
       [1.        , 0.98076923, 0.23770492, 0.45918367],
       [0.        , 0.17307692, 0.25409836, 0.51020408],
       [1.        , 0.67307692, 0.25409836, 0.45918367],
       [1.        , 1.        , 0.25409836, 0.56122449],
       [1.        , 0.01923077, 0.25409836, 0.55102041],
       [0.        , 0.94230769, 0.26229508, 0.52040816],
       [0.        , 0.69230769, 0.26229508, 0.59183673],
       [1.        , 0.86538462, 0.2704918 , 0.51020408],
       [1.        , 0.        , 0.2704918 , 0.59183673],
       [0.        , 0.48076923, 0.2704918 , 0.5       ],
       [0.        , 0.96153846, 0.2704918 , 0.47959184],
       [1.        , 0.01923077, 0.2704918 , 0.59183673],
       [0.        , 0.26923077, 0.2704918 , 0.46938776],
       [1.        , 1.        , 0.27868852, 0.55102041],
       [0.        , 0.55769231, 0.27868852, 0.41836735],
       [0.        , 0.80769231, 0.28688525, 0.48979592],
       [0.        , 0.80769231, 0.28688525, 0.56122449],
       [1.        , 0.78846154, 0.31967213, 0.46938776],
       [1.        , 0.15384615, 0.31967213, 0.54081633],
       [0.        , 0.51923077, 0.31967213, 0.53061224],
       [1.        , 0.42307692, 0.31967213, 0.47959184],
       [0.        , 0.09615385, 0.31967213, 0.52040816],
       [0.        , 0.59615385, 0.31967213, 0.41836735],
       [1.        , 0.75      , 0.31967213, 0.51020408],
       [1.        , 0.38461538, 0.31967213, 0.55102041],
       [1.        , 0.94230769, 0.31967213, 0.40816327],
       [0.        , 0.53846154, 0.31967213, 0.43877551],
       [0.        , 0.05769231, 0.31967213, 0.57142857],
       [1.        , 0.57692308, 0.31967213, 0.45918367],
       [0.        , 0.71153846, 0.3442623 , 0.58163265],
       [0.        , 0.07692308, 0.3442623 , 0.55102041],
       [0.        , 0.30769231, 0.35245902, 0.60204082],
       [0.        , 0.61538462, 0.35245902, 0.45918367],
       [0.        , 0.96153846, 0.36065574, 0.55102041],
       [1.        , 0.        , 0.36065574, 0.40816327],
       [1.        , 0.57692308, 0.36885246, 0.48979592],
       [0.        , 0.42307692, 0.36885246, 0.39795918],
       [0.        , 0.26923077, 0.36885246, 0.41836735],
       [1.        , 0.11538462, 0.36885246, 0.52040816],
       [0.        , 0.55769231, 0.36885246, 0.46938776],
       [0.        , 0.17307692, 0.36885246, 0.5       ],
       [1.        , 0.57692308, 0.37704918, 0.41836735],
       [1.        , 0.03846154, 0.37704918, 0.48979592],
       [0.        , 0.09615385, 0.3852459 , 0.40816327],
       [0.        , 0.59615385, 0.3852459 , 0.47959184],
       [1.        , 0.94230769, 0.3852459 , 0.59183673],
       [1.        , 0.15384615, 0.3852459 , 0.55102041],
       [1.        , 0.59615385, 0.3852459 , 0.56122449],
       [0.        , 0.05769231, 0.3852459 , 0.41836735],
       [0.        , 0.92307692, 0.39344262, 0.5       ],
       [1.        , 0.69230769, 0.39344262, 0.45918367],
       [1.        , 0.96153846, 0.39344262, 0.42857143],
       [1.        , 0.92307692, 0.39344262, 0.47959184],
       [1.        , 0.90384615, 0.39344262, 0.52040816],
       [0.        , 0.01923077, 0.39344262, 0.54081633],
       [0.        , 0.38461538, 0.40163934, 0.41836735],
       [1.        , 0.01923077, 0.40163934, 0.45918367],
       [0.        , 0.        , 0.40983607, 0.47959184],
       [0.        , 0.01923077, 0.40983607, 0.5       ],
       [0.        , 0.86538462, 0.40983607, 0.42857143],
       [0.        , 0.59615385, 0.40983607, 0.59183673],
       [0.        , 0.63461538, 0.42622951, 0.42857143],
       [0.        , 0.61538462, 0.42622951, 0.57142857],
       [1.        , 0.17307692, 0.42622951, 0.56122449],
       [0.        , 0.38461538, 0.42622951, 0.39795918],
       [0.        , 0.42307692, 0.44262295, 0.58163265],
       [1.        , 0.40384615, 0.44262295, 0.91836735],
       [0.        , 0.09615385, 0.45081967, 0.28571429],
       [0.        , 0.25      , 0.45081967, 0.7755102 ],
       [1.        , 0.48076923, 0.45901639, 0.34693878],
       [1.        , 0.42307692, 0.45901639, 0.95918367],
       [1.        , 0.78846154, 0.45901639, 0.10204082],
       [1.        , 0.38461538, 0.45901639, 0.75510204],
       [1.        , 0.55769231, 0.45901639, 0.08163265],
       [1.        , 0.40384615, 0.45901639, 0.75510204],
       [0.        , 0.13461538, 0.46721311, 0.33673469],
       [0.        , 0.25      , 0.46721311, 0.71428571],
       [1.        , 0.03846154, 0.47540984, 0.04081633],
       [0.        , 0.21153846, 0.47540984, 0.8877551 ],
       [0.        , 0.5       , 0.47540984, 0.06122449],
       [1.        , 0.26923077, 0.47540984, 0.73469388],
       [1.        , 0.01923077, 0.48360656, 0.09183673],
       [0.        , 0.32692308, 0.48360656, 0.7244898 ],
       [0.        , 0.75      , 0.49180328, 0.04081633],
       [1.        , 0.26923077, 0.49180328, 0.93877551],
       [0.        , 0.19230769, 0.5       , 0.39795918],
       [0.        , 0.26923077, 0.5       , 0.87755102],
       [1.        , 0.13461538, 0.50819672, 0.1122449 ],
       [1.        , 0.19230769, 0.50819672, 0.97959184],
       [1.        , 0.57692308, 0.50819672, 0.35714286],
       [0.        , 0.26923077, 0.50819672, 0.74489796],
       [0.        , 0.30769231, 0.51639344, 0.21428571],
       [1.        , 0.30769231, 0.51639344, 0.90816327],
       [1.        , 0.48076923, 0.51639344, 0.16326531],
       [1.        , 0.40384615, 0.51639344, 0.8877551 ],
       [0.        , 0.5       , 0.51639344, 0.19387755],
       [0.        , 0.38461538, 0.51639344, 0.76530612],
       [0.        , 0.55769231, 0.51639344, 0.15306122],
       [0.        , 0.17307692, 0.51639344, 0.89795918],
       [1.        , 0.36538462, 0.51639344, 0.        ],
       [0.        , 0.23076923, 0.51639344, 0.78571429],
       [1.        , 0.30769231, 0.51639344, 0.        ],
       [0.        , 0.23076923, 0.51639344, 0.73469388],
       [0.        , 0.73076923, 0.52459016, 0.34693878],
       [0.        , 0.21153846, 0.52459016, 0.83673469],
       [1.        , 0.01923077, 0.54098361, 0.04081633],
       [0.        , 0.25      , 0.54098361, 0.93877551],
       [1.        , 0.61538462, 0.57377049, 0.25510204],
       [0.        , 0.34615385, 0.57377049, 0.75510204],
       [1.        , 0.46153846, 0.58196721, 0.19387755],
       [0.        , 0.28846154, 0.58196721, 0.95918367],
       [0.        , 0.34615385, 0.59016393, 0.26530612],
       [1.        , 0.26923077, 0.59016393, 0.63265306],
       [1.        , 0.42307692, 0.59016393, 0.12244898],
       [1.        , 0.19230769, 0.59016393, 0.75510204],
       [1.        , 0.34615385, 0.59016393, 0.09183673],
       [1.        , 0.34615385, 0.59016393, 0.92857143],
       [0.        , 0.65384615, 0.59836066, 0.12244898],
       [0.        , 0.23076923, 0.59836066, 0.86734694],
       [1.        , 0.76923077, 0.59836066, 0.14285714],
       [1.        , 0.17307692, 0.59836066, 0.69387755],
       [1.        , 0.78846154, 0.63934426, 0.13265306],
       [1.        , 0.32692308, 0.63934426, 0.90816327],
       [0.        , 0.36538462, 0.67213115, 0.31632653],
       [0.        , 0.26923077, 0.67213115, 0.86734694],
       [1.        , 0.53846154, 0.68032787, 0.14285714],
       [0.        , 0.21153846, 0.68032787, 0.8877551 ],
       [0.        , 0.44230769, 0.68852459, 0.3877551 ],
       [1.        , 0.23076923, 0.68852459, 0.97959184],
       [0.        , 0.69230769, 0.70491803, 0.23469388],
       [1.        , 0.19230769, 0.70491803, 0.68367347],
       [0.        , 0.44230769, 0.72131148, 0.16326531],
       [0.        , 0.34615385, 0.72131148, 0.85714286],
       [0.        , 0.30769231, 0.72131148, 0.2244898 ],
       [0.        , 0.26923077, 0.72131148, 0.69387755],
       [1.        , 0.28846154, 0.80327869, 0.07142857],
       [0.        , 0.38461538, 0.80327869, 0.91836735],
       [0.        , 0.55769231, 0.86065574, 0.15306122],
       [0.        , 0.32692308, 0.86065574, 0.79591837],
       [0.        , 0.51923077, 0.90983607, 0.2755102 ],
       [1.        , 0.26923077, 0.90983607, 0.74489796],
       [1.        , 0.26923077, 1.        , 0.17346939],
       [1.        , 0.23076923, 1.        , 0.83673469]])